@import url('https://fonts.googleapis.com/css?family=Nunito&subset=latin-ext');

html, body {
 font-family: "Nunito", sans-serif;
}

.mask {
 display: none;
 background-color: rgba(0,0,0, .3);
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
}

.modal {
 display: none;
 background-color: #fff;
 text-align: center;
 width: 300px;
 height: 150px;
 padding: 60px;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 margin: auto auto;
}

.small-text {
 text-transform: uppercase;
 font-size: 12px;
 margin-bottom: -10px;
}

.container {
 display: grid;
 height: 100vh;
 grid-template-areas: "header"
 "main"
 "footer";
 grid-template-rows: auto 60vh auto;
 grid-template-columns: auto;
}

.header {
 grid-area: header;
 padding: 30px;
 justify-self: center;
 text-align: center;
}

.form {
 grid-area: main;
 padding: 20px;
 justify-self: center;
}

.footer {
 grid-area: footer;
 padding: 20px;
 justify-self: center;
}