@import url('https://fonts.googleapis.com/css?family=Nunito&subset=latin-ext');

html, body {
 font-family: "Nunito", sans-serif;
 background: linear-gradient(-200deg, #1CB5E0 0%, #000851 100%);
 color: white;
 overflow: hidden;
}

.mask {
 display: none;
 background-color: rgba(0,0,0, .3);
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
}

.modal {
 display: none;
 background-color: #fff;
 text-align: center;
 width: 300px;
 height: 150px;
 padding: 60px;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 margin: auto auto;
}

.small-text {
 text-transform: uppercase;
 font-size: 12px;
 margin-bottom: -10px;
}

.container {
 display: grid;
 height: 100vh;
 grid-template-areas: "header"
 "desc"
 "main"
 "footer";
 grid-template-rows: auto auto 40vh auto;
 grid-template-columns: auto;
}

.header {
 grid-area: header;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 30px;
 justify-self: center;
 text-align: center;
}

.form {
 grid-area: main;
 padding: 20px;
 justify-self: center;
}

.footer {
 grid-area: footer;
 padding: 50px;
 justify-self: center;
}

.description {
 grid-area: desc;
 font-size: 14px;
 max-width: 65vw;
 margin-top: -10px;
}

input {
 max-width: 70px;
 height: 22px;
 background-color: rgba(0, 8, 81, 0.1);
 padding: 10px;
 text-align: center;
 outline: none;
 border: none;
 margin-top: 20px;
 margin: 10px;
 border-radius: 10px;
 font-family: inherit;
 color: #ffffff;
}

::placeholder {
 color: rgba(255, 255, 255, 0.5);
}

.input-box {
 display: block;
 padding-left: 70px;
}

label {
 text-align: right;
 float: left;
 margin-top: 18px;
}

h1 {
 font-size: 36px;
 font-weight: 600;
}

.calc {
 background-color: #D49558;
 color: white;
 border: none;
 padding: 10px;
 width: 100px;
 font-size: 14px;
 font-weight: 600;
 border-radius: 20px;
 margin-top: 20px;
 margin-left: 30px;
 font-family: inherit;
}